// .columns {
// 	width: 100%;
// 	padding-left: 20px;
// 	padding-right: 20px;
// }
.main-title h1 {
  font-weight: 900;
}

#flower_subscription_delivery_date {
  border: 1px solid lightgrey;
  padding: 5px;
  border-radius: 5px;
  color: grey;
  width: 50vw;
  background-color: transparent;
}

.product-customize-date > .input-group.date{
  margin: 0 auto;
  align-items: center;
  display: contents;

}

html {
  scroll-behavior: smooth;
}

.header-flowertype, .header-datetype, .header-bouquettype, .header-frequencytype, .header-timetype {
  font-weight: 900;
  font-size: 26px;
  margin: 20px 20px 5px 20px;
}

#new_flower_subscription {
  display: contents;
  width: 100%;
}

.content-status {
	width: 100%;
	padding-top: 20px;
  padding-bottom: 20px;
	// padding-bottom: 20px;
	background-color: $my-grey;
}

.status-bar {
  width: 100%;
}

.start-subscription {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -10px;
	border-bottom: solid 1px black;
}

.main-title {
	text-align: center;
	padding-top: 180px;
	font-size: 40px;
}


#sticky-bar {
  position: fixed;
  top: 0;
  z-index: 1;
}

.content-status ul {
	display: flex;
	justify-content: center;
	align-items: center;
	// margin: 0 36rem;
	li {
		list-style: none;
		max-width: 70px;
		text-align: center;
		padding: 5px 5px;
		width: 100%;
		font-size: 16px;
		font-weight: 500;
		line-height: 10px;
		border: solid 1px lightgrey;
	}
}

.full-black-border {
	border: solid 1px black !important;
}

.full-black-border-active {
	border: solid 1px black !important;
}

#product-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

#product-type {
	.product-cards-showcase {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
    }
}


.product-card {
	padding: 10px;
}

.product-customize {
	text-align: center;
}

.flower-choice {
	list-style: none;
	text-align: center;
	padding: 5px 15px;
	width: 260px;
	justify-content: center;
}

.flower-subscription-images img {
  height: 200px;
  width: 100px;
	border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.flower-form-checks:checked ~ label {
	background-color: $my-blue;
	color: white;
	img {
		background-color: $my-blue;
		color: white;
		border-radius: 30px;
	}
}

.flower-form-image-checks.radio_buttons {
	display: none;
}

.flower-form-image-checks:checked ~ label {
	background-color: $my-blue;
	color: white;
	border-radius: 30px;
}

.flower-form-checks.radio_buttons {
	display: none;
}

.radio_buttons {
	text-align: center;
}

.product-customize-flowers {
	.row-flowers {
		margin-right: -15px;
		margin-left: -15px;
		padding-top: 20px;
		padding-bottom: 30px;
	}
}

.row-flowers {
	.image-grid-holder {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px
	}
}

.image-grid-holder {
	.form-check-label {
		margin-bottom: 8px !important;
	}
}

.flower {
	.flower-text {
		position: absolute;
		text-align: center;
		margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
	}
}

.product-customize-size {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	.form-size {
		list-style: none;
		text-align: center;
		// padding: 5px 15px;
		padding: 0;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
	}
}

.form-size label {
	width: 100%;
	padding: 5px 0px;
}

hr {
    width:30%;
    margin:30px auto;
    color: $my-blue;
}

.product-customize-frequency {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	.form-frequency {
		list-style: none;
		text-align: center;
		border: solid 1px lightgray;
		display: inline-block;
		width: 260px;
		// padding: 5px 15px;
		padding: 0;
	}
}

.form-frequency label {
	width: 100%;
	height: 100%;
	padding: 5px 15px;
}

.product-customize-dates {
	margin: 0 auto;
	.form-days {
		list-style: none;
		text-align: center;
		border: solid 1px lightgray;
		display: inline-block;
		width: 260px;
		// padding: 5px 15px;
		padding: 0;
	}
}

.form-days label {
	width: 100%;
	height: 100%;
	padding: 5px 15px;
}

.product-customize-dates-days {
	margin: 0 auto;
	padding-bottom: 20px;
	.form-dates {
		list-style: none;
		text-align: center;
		border: solid 1px lightgray;
		display: inline-block;
		width: 260px;
		// padding: 5px 15px;
		padding: 0;
	}
}

.form-dates label {
	width: 100%;
	height: 100%;
	padding: 5px 15px;
}

.flower_subscription_time_of_day {
	padding-top: 20px;
}

.order-ending {
	border-top: solid 1px lightgray;
	padding-top: 20px;
}

.order-button {
	background-color: $my-blue;
	// padding-top: 12px;
	width: 50vw;
	&:hover {
		background-color: $my-orange;
		border-color: $my-blue;
    opacity: 0.8;
      transition: 0.01s;
	}
}

label {
  width: 100%;
}

.form-check-label.collection_radio_buttons.flower-choice-image img {
  width: 100%;
  object-fit: cover;
}

.subscription-image img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius-top: 5px;
}

.form-group.radio_buttons.optional.flower_subscription_delivery_day {
  margin: 30px;
}

.monthly-frequency {
  margin: 0 0;
}

.subscription-cards-subscription {
  width: 70vw !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

.form-check-label.collection_radio_buttons.flower-choice-image {
  margin: 5px 0px;
}

.form-check-label.collection_radio_buttons.flower-choice-image p {
  margin: 10px 0px;
}

