.columns {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}


.content-status {
	width: 100%;
	padding: 20px 0;
	background-color: $my-grey;
}

.start-subscription {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

#sticky-bar {
  position: sticky;
  top: 139px;
  z-index: 99999;
}

.content-status ul {
	display: flex;
	// justify-content: center;
	align-items: center;
	margin: 0 34rem;
	li {
		list-style: none;
		max-width: 70px;
		text-align: center;
		padding: 5px 5px;
		width: 100%;
		font-size: 16px;
		font-weight: 500;
		line-height: 10px;
		border: solid 1px lightgrey;
	}
}

.full-black-border {
	border: solid 1px black !important;
}

.full-black-border-active {
	border: solid 1px black !important;
}

#product-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

#product-type {
	.product-cards-showcase {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
    }
}

.start-subscription {
	text-align: center;
}

.product-card {
	width: 1068px;
	margin-right: 20px;
	padding: 10px;
	text-align: center;
}

.main-title {
	text-align: center;
	padding-top: 150px;
	font-size: 40px;
	border-top: solid 1px black;
}

.product-customize {
	text-align: center;
}

.flower-choice {
	list-style: none;
	text-align: center;
	padding: 5px 15px;
	border: solid 1px black;
	width: 260px;
	justify-content: center;
}

.flower-subscription-images {
	img {
	height: 260px;
	width: 220px;
	padding: 10px;
	}
}

.flower-subscription-images {
	label {
		object-fit: cover;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.flower-form-checks:checked ~ label {
	background-color: black;
	color: white;
}
.flower-form-checks.radio_buttons {
	display: none;
}

.radio_buttons {
	text-align: center;
}

.product-customize-flowers {
	.row-flowers {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-right: -15px;
		margin-left: -15px;
		padding-top: 20px;
		padding-bottom: 30px;
		border-top: solid 1px black;
	}
}

.flower {
	.flower-text {
		position: absolute;
		text-align: center;
		margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
	}
}

.product-customize-size {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 40px;
	border-top: 1px solid #000;
	.form-size {
		list-style: none;
		text-align: center;
		border: solid 1px black;
		width: 260px;
		padding: 5px 15px;
	}
}

.form-size label {
	width: 100%;
	height: 100%;
	padding: 5px 15px;
}

.product-customize-frequency {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 40px;
	border-top: 1px solid #000;
	.form-frequency {
		list-style: none;
		text-align: center;
		border: solid 1px black;
		display: inline-block;
		width: 260px;
		padding: 5px 15px;		
	}
}

.form-frequency label {
	width: 100%;
	height: 100%;
	padding: 5px 15px;
}

.product-customize-dates {
	margin: 0 auto;
	padding-top: 40px;
	border-top: 1px solid #000;
	.form-days {
		list-style: none;
		text-align: center;
		border: solid 1px black;
		display: inline-block;
		width: 260px;
		padding: 5px 15px;
	}
}

.form-days label {
	width: 100%;
	height: 100%;
	padding: 5px 15px;
}

.product-customize-dates-days {
	margin: 0 auto;
	padding-bottom: 20px;
	.form-dates {
		list-style: none;
		text-align: center;
		border: solid 1px black;
		display: inline-block;
		width: 260px;
		padding: 5px 15px;
	}
}

.form-dates label {
	width: 100%;
	height: 100%;
	padding: 5px 15px;
}

.flower_subscription_time_of_day {
	padding-top: 20px;
}

.order-ending {
	border-top: solid 1px black;
	padding-top: 20px;
}

.order-button {
	background-color: $my-blue;
	// padding-top: 12px;
	width: 260px;
	&:hover {
		background-color: $my-orange;
		border-color: $my-blue;
	}
}