<!-- <div class="confirmation-button">
  <div class="typeform-confirmation button" data-mode="popup" data-hide-headers=true data-hide-footer=true data-submit-close-delay="2" target="_blank">Send confirmation</div>
</div>
 -->


<!-- Large modal -->
<button type="button" class="confirmation-button" data-toggle="modal" data-target=".bd-example-modal-lg">Send Confirmation</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
