<footer class="footer-distributed">
  <div class="footer-left">
    <%= image_tag "flovelle.png", width:200%>
    <p class="footer-links">
      <a href="/">Home</a>
      <a href="/about">About Us</a>
      <a href="/flowers">Our Flowers</a>
      <a href="/flower_subscriptions">Subscriptions</a>
      <a href="/users/sign_in">Sign In</a>
      <a href="/users/sign_up">Sign Up</a>
    </p>
    <p class="footer-company-name">Flovelle © 2020</p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker">
      </i>
      <p>
        <span>Ijsbaanpad 9</span>
        Amsterdam, The Netherlands
      </p>
    </div>
    <div>
      <i class="fa fa-phone">
      </i>
      <p>+44 7950 213 237</p>
    </div>
    <div>
      <i class="fa fa-envelope">
      </i>
      <p>
        <a href="mailto:flovelle.dutch@gmail.com">flovelle.dutch@gmail.com</a>
      </p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About Flovelle</span>
      Flovelle deliver fresh, seasonal flowers to your doorstep every month, ready for you to put together.
    </p>
    <div class="footer-icons">
      <a href="#">
        <i class="fab fa-facebook">
        </i>
      </a>
      <a href="#">
        <i class="fab fa-twitter">
        </i>
      </a>
      <a href="#">
        <i class="fab fa-github">
        </i>
      </a>
    </div>
  </div>
</footer>
