<div class="container-home">
  <section class="child-home page1">
    <div id="hero">
      <div class="background-farmer" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522910393933-38c045ea1c37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1621&q=80);">
            </div>
      </div>

      <div class="header-home">
        <%= image_tag "whitelogo.png", width: 150, class: "header-img"%>
        <h1 id="cat">The Story of Flovelle</h1>
        <i class="fas fa-chevron-down"></i>
      </div>
    </section>

    <section class="child-home page3">
      <div class="big-container">
        <div class="background-farmer" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531058240690-006c446962d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
        </div>
        <div class="home-farmer col-lg-6 col-sm-9 offset-md-5">
          <div class="container-booking">
            <h3 class="farmer-text">Flovelle was founded in 2020 by Tom Pope, Florian Bucher, Thijs Hakkenberg and Frankie Merckelbach. Each of them has their own background in different industries, but combined they are well know for their exquisted taste and skills in flowerbouqet design. </h3>
            <div id="container-button">
              <a href="/flowers">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="child-home page4">
      <div class="big-container">
        <div class="background-about" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(4,4,4,0.4)), url(https://images.pexels.com/photos/4270222/pexels-photo-4270222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
        </div>
        <div class="home-about">
          <div class="container-booking col-lg-6 col-sm-9 offset-md-1">
            <h3 class="farmer-text" style="color:white;"> In a year where the Corona epidemic influenced many industries, these four friends committed to combine their love for flowers by supporting local dutch farmers, to bring carefully selected, fresh grown flowers to your doorstep.  </h3>
            <div id="container-button">
              <a href="/about">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="child-home page3">
      <div class="big-container">
        <div class="background-farmer" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1553781155-2a2b39f2bdd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);">
        </div>

        <div class="home-farmer col-lg-6 col-sm-9 offset-md-5">
          <div class="container-booking">
            <h3 class="farmer-text">We carefully selected our business partners by building a personal relationship with each of them and helping them to overcome the economic drawback Corona created for them. It was important for us to find partners which put quality first by sharing a organic and sustainable view on farming flowers.</h3>
            <div id="container-button">
              <a href="/flower_subscriptions">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">Subscribe</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="child-home page5">

      <div class="wrapper-container">
        <%= image_tag "purplelogo.png", class: "logo-footer" %>
      </div>
      <%= render 'shared/footer' %>
    </section>

  </div>

