.row {
padding-top: 50px;
padding-bottom: 100px;
}
.simple-calendar {
  width: 600px;
  margin-left: 30px;
  .day {
  }
  .wday-0 {
    background-color: #f9f9f9;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: black;
    border: none;
  }
  .wday-1 {
    background-color: #f9f9f9;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: black;
    border: none;
  }
  .wday-2 {
    background-color: #6886c5;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: white;
    border: none;
  }
  .wday-3 {
    background-color: #f9f9f9;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: black;
    border: none;
  }
  .wday-4 {
    background-color: #6886c5;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: white;
    border: none;
  }
  .wday-5 {
    background-color: #f9f9f9;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: black;
    border: none;
  }
  .wday-6 {
    background-color: #6886c5;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: white;
    border: none;
  }
  .today {
  }
  .past {}
  .future {}
  .start-date {}
  .prev-month {}
  .next-month { }
  .current-month {}
  .has-events {}
  .calendar-heading {
    display: flex;
    justify-content: center;
  }
  .calendar-title {
    font-size: 1.75rem;
    color: $my-blue;
    text-decoration: none;
    }
}
  a {
    font-weight: 200;
    color: $my-blue;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}
a:hover{
    font-weight: 200;
     color: $my-blue;
     text-decoration:none;
     cursor:pointer;
}
.table td {
  padding: 30px;
}
.table th {
  font-size: 16;
  font-weight: 200;
  color: black;
  background-color: #f9f9f9;
  padding: 30px;
  border: none;
}
.table {
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
}
.table thead th {
  border: none;
}
.column h3 {
  margin-bottom: 50px;
}
.border-bottom {
  font-family: "Poppins", "sans-serif";
  width: 400px;
}

.column p {
  font-weight: 200;
  color: $my-blue;
}

.column h3 {
  font-weight: 200;
  color: $my-blue;
  margin-bottom: 60px;
}

#black-p {
  color: black;
}
