.row {
padding-top: 50px;
padding-bottom: 100px;
}

.simple-calendar {
  .day {
  }

  .wday-0 {
    background-color: #f9f9f9;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: black;
    border: none;
  }
  .wday-1 {
    background-color: #f9f9f9;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: black;
    border: none;
  }
  .wday-2 {
    background-color: rgba(104, 134, 197, 0.7);
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: white;
    border: none;
  }
  .wday-3 {
    background-color: #f9f9f9;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: black;
    border: none;
  }
  .wday-4 {
    background-color: rgba(104, 134, 197, 0.7);
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: white;
    border: none;
  }
  .wday-5 {
    background-color: #f9f9f9;
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: black;
    border: none;
  }
  .wday-6 {
    background-color: rgba(104, 134, 197, 0.7);
    font-family: "Poppins", "sans-serif";
    font-size: 16px;
    color: white;
    border: none;
  }
  .today {
  }
  .past {}
  .future {}
  .start-date {}
  .prev-month {}
  .next-month { }
  .current-month {}
  .has-events {}
  .calendar-heading {
    display: flex;
    justify-content: center;
  }
  .calendar-title {
    font-size: 1.75rem;
    color: $my-blue;
    text-decoration: none;
    }
}

