.col-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 20px;
}

.container {
  max-width: 100%;
  padding: 0px;
}

.card-trip {
  overflow: hidden;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  height: 243px;
  border-radius: 10px;
}

.card-logo {
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 40px 25px 0px;
}

.card-img {
  height: 100%;
  object-fit: contain;

}

.card-trip h2 {
  font-size: 16px;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 20px;
}


.card-trip-infos h2 a {
  font-size: 20px;
}

.card-trip .card-trip-infos {
  text-align: center;
    margin-top: 36px;
    padding: 19px 32px;
    border-top: 3px solid $my-blue;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.row {
  margin: 20px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.container-howitworks {
  height: calc(100vh - 444px);
}

@media (max-width: 576px) {
  .card-trip {
    height: 95px;
    border: 3px solid $my-blue;
    border-radius: 15px;
  }
  .card-logo {
    height: 0px;
    padding: 0px;
  }

  .card-trip .card-trip-infos {
    border-top: none;
    padding: 23px 15px 23px 15px;
    margin-top: 0px;
  }

  .card-img {
    height: 0%;
  }
}

