
.popup__BaseWrapper-sc-10ta2p7-0.popup__popupWrapper-sc-10ta2p7-2.bmdpki {
    height: 600px;
    width: 800px;
    top: 207px;
    left: 384px;
    margin: auto;
    display: flex;
}

.feedback-button {
    height: 600px;
    width: 800px;
    margin: auto;
    display: flex;
}
