<div class="container" id="manager-data-container">
  <div class="row">
    <div class="col-3 farmer-column">
      <h1 class="manager-data">10</h1>
      <p class="manager-info">New Orders this week</p>
    </div>
    <div class="col-3 farmer-column">
      <h1 class="manager-data">15</h1>
      <p class="manager-info">New Users this month</p>
    </div>
    <div class="col-3 farmer-column">
      <h1 class="manager-data">42</h1>
        <p class="manager-info">Running Subscriptions</p>
    </div>
    <div class="col-3 farmer-column">
      <h1 class="manager-data">200</h1>
        <p class="manager-info">Revenue this month</p>
      <p></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 farmer-column">
    </div>
    <div class="col-3 farmer-column">
     <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="farmer-round" />
     <p class="farmer-name">Farmer Bob</p>
     <div>
      <p class="farmer-orders"><strong>5</strong> orders this week</p>
    </div>
  </div>
  <div class="col-3 farmer-column">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="farmer-round" />
    <p class="farmer-name">Farmer Tom</p>
    <div>
      <p class="farmer-orders"><strong>3</strong> orders this week</p>
    </div>
  </div>
</div>
</div>
